.titulo {
  font-family: sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  width: 80%;
}

.conteudo {
  width: 50%;
}

.tarefa_box {
  display: flex;
  flex-direction: column;
}

#tarefa {
  border-radius: 5px;
  border: 1px solid gray;
  padding: 0 10px;
}

.tarefa_conteudo {
  border-radius: 5px;
  border: 1px solid gray;
  padding: 0 10px;
}

.btn {
  padding: 10px;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  min-width: 100px;
}

.btn_adicionar {
  border: 0.5px solid blue;
}

.btn_excluir {
  border: 0.5px solid red;
}

.btn_adicionar:hover {
  color: white;
  background-color: blue;
}

.btn_excluir:hover {
  color: white;
  background-color: red;
}

ul {
  list-style: none;
  margin: 0%;
  padding: 0%;
}

li {
  display: flex;
  gap: 10px;
}

section {
  margin-top: 10px;
}